.dashboard {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    width: 100%;
    font-weight: 400;
}

.dashboard-container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.dashboard-holder {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.dashboard-wrapper {
    display: flex;
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
}