.sidebar-container {
    position: relative;
}

.sidebar-holder {
    position: static;
    width: 240px;
    height: 100%;
    max-width: 400px;
    min-width: 205px;
    box-sizing: border-box;
    overflow: hidden;
}

.sidebar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    background: #000;
    z-index: 9;
}

.sidebar-wrapper {
    display: flex;
    flex: 50;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    box-sizing: border-box;
}

.sidebar-list {
    flex-direction: column;
    display: flex;
    flex: 50;
    padding: 0 0 8px 0;
    overflow: hidden;
    list-style: none;
    border: 0;
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
}

.sidebar-top-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

.sidebar-user-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 56px;
    justify-content: space-between;
    box-sizing: border-box;
}

.user-name-section {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    padding: 6px 0 6px 15px;
    box-sizing: border-box;
}

.user-image-holder {
    position: relative;
    box-sizing: border-box;
    height: 28px;
    width: 28px;
}

.user-image {
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    background-color: transparent;
    background-size: cover;
    min-width: inherit;
    background-position: 50%;
    border-radius: 28px;
    display: inline-flex;
}

.user-name-holder {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    max-width: 141px;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    box-sizing: border-box;
}

.user-name-wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.user {
    color: #ccc;
    font-size: 13px;
    line-height: 19px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    box-sizing: border-box;
}

.evernote-svg {
    display: inline-block;
    stroke: #a6a6a6;
    flex-shrink: 0;
    height: 8px;
    margin-left: 9px;
    width: 8px;
}

svg {
    fill: currentColor;
    vertical-align: middle;
}

.sidebar-search-new-section {
    padding-bottom: 8px;
    border: 0;
    font: inherit;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    box-sizing: border-box;
    font-family: "Segoe UI", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.sidebar-search-container {
    align-items: center;
    border-radius: 5px;
    justify-content: center;
    max-width: 300px;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
}

.sidebar-search-wrapper {
    margin: 0 12px;
    padding: 2px 0 3px;
    box-sizing: border-box;
}

.sidebar-search {
    background: #404040;
    border-radius: 40px;
    outline: 1px solid transparent;
    padding: 0 14px;
    position: relative;
    box-sizing: border-box;
}

.search-mag-glass {
    color: #ccc;
    left: 6px;
    position: absolute;
    top: 6px;
    box-sizing: border-box;
}

.search-bar {
    box-sizing: border-box;
    color: #ccc;
    font-size: 14px;
    height: 36px;
    line-height: 30px;
    padding: 0 12px 1px 18px;
    width: 100%;
    font-weight: 400;
    overflow: visible;
    background-color: transparent;
    border-style: none;
    margin: 0;
}

.search-drop-down-hidden {
    width: 256px;
    visibility: hidden;
    box-shadow: 1px 0 4px rgb(0 0 0 /15%);
    align-items: center;
    background-color: #333;
    border-radius: 4px 4px 0 0;
    justify-content: center;
    left: 9px;
    margin-top: -45px;
    outline: 1px solid transparent;
    padding: 5px 10px;
    position: absolute;
    z-index: 10;
}

/* .search-drop-down-visible {} */

.search-drop-down-container {
    padding: 3px 0;
}

.search-drop-down-wrapper {
    background: #333;
    border-radius: 40px;
    padding: 0 14px;
    position: relative;
}

.dropdown-mag-glass {
    left: -1px;
    top: 4px;
    color: #ccc;
    position: absolute;
}

.search-dropdown-bar {
    box-sizing: border-box;
    caret-color: #e6efe6;
    color: #e6efe6;
    font-size: 14px;
    height: 30px;
    width: 100%;
    padding: 0 5px 0 10px;
    font-weight: 400;
    overflow: visible;
    background-color: transparent;
    border-style: none;
    margin: 0;
}

.sidebar-new-container {
    max-width: 300px;
    position: relative;
}

.sidebar-new-wrapper {
    align-items: center;
    color: #000;
    display: flex;
    margin: 8px 12px;
}

.sidebar-new-button {
    display: inline-flex;
    background-color: #4488D1;
    border-radius: 20px;
    height: 36px;
    justify-content: left;
    outline: 1px solid transparent;
    padding: 0;
    width: 100%;
    align-items: center;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    overflow: visible;
    border-style: none;
    cursor: pointer;
    transition: box-shadow .1s ease-in-out;
}

.sidebar-new-button:hover {
    box-shadow: 0 40px 12px rgba(28, 28, 29, 0.25) inset, 0 -40px 12px rgba(70, 150, 240, 0.25) inset;
}

.new-create-icon {
    margin-left: 6px;
    margin-right: 2px;
    min-width: 24px;
}

.new-button-name {
    color: #fff;
}

.new-button-arrow {
    position: absolute;
    right: 20px;
    stroke: #fff;
}

.user-action-links {
    flex: 1;
    flex-direction: column;
    display: flex;
    list-style: none;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 10px 0 0 0;
}

.user-action-links li {
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
}

.dashboard-page-link {
    color: #a6a6a6;
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    padding: 4px 8px 4px 18px;
    position: relative;
    text-decoration: none;
    width: 100%;
    font-weight: 400;
    border: 0;
    margin: 0;
}

.disabled {
    cursor: not-allowed;
}

.dashboard-page-link:hover {
    background-color: #333;
}

.user-link-name {
    margin-left: 2px;
}

.user-action-items-links {
    position: absolute;
    width: 100%;
    height: 250px;
}

.lower-sidebar-section {
    position: relative;
    height: calc(100vh);
}

.lower-sidebar-section-wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 1px 1px 0;
    overflow-x: hidden;
    position: relative;
    width: 100%;
}

.sidebar-notes-link {
    position: absolute;
    top: 0px;
    height: 32px;
    width: 100%;
}

.sidebar-notes-link a {
    position: sticky;
    z-index: 1;
    top: 0px;
    height: 24px;
    width: 214px;
}

.sidebar-task-button {
    position: absolute;
    top: 32px;
    height: 32px;
    width: 100%;
}

.task-button {
    height: 24px;
    position: sticky;
    top: 0px;
    z-index: 1;
    color: #a6a6a6;
    font-size: 16px;
    padding: 4px 8px 4px 18px;
    display: flex;
    align-items: center;
    cursor: not-allowed;
}

.task-button:hover {
    background-color: #333;
}

.sidebar-spacer {
    top: 64px;
    position: absolute;
    height: 12px;
    width: 100%;
}

.sidebar-notebooks-link {
    position: absolute;
    top: 75px;
    height: 32px;
    width: 100%;
}

.sidebar-notebooks-link a {
    width: 214px;
    height: 24px;
}

.sidebar-tags-button {
    position: absolute;
    top: 108px;
}

.sidebar-tags-button div {
    width: 214px;
    height: 24px;
}

.sidebar-trash-link {
    position: absolute;
    top: 150px;
    height: 44px;
    width: 100%;
    vertical-align: baseline;
}

.trash-link-wrapper {
    height: 44px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidebar-trash-link a {
    width: 214px;
    height: 24px;
}

.sidebar-bottom-separator {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 0;
    border-color: #1a1a1a;
    background-color: rgb(255, 255, 255);
    overflow: visible;
}

.sidebar-logout-button-container {
    background-color: #000;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
    padding-top: 10px;
    height: 30px;
}

.sidebar-logout-button-wrapper {
    position: relative;
}

.sidebar-logout-button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.sidebar-logout-button button {
    background-color: transparent;
    border: none;
    color: #a6a6a6;
    font-size: 16px;
    cursor: pointer;
    width: 240px;
}

.sidebar-logout-button-container:hover {
    background-color: #333;
}

/* media queries */

@media screen and (max-height: 390px) {
    .user-action-links {
        overflow: scroll;
    }
}