.signup-page {
    background: none;
    width: auto;
    border: none;
    margin: 0;
    padding: 0px;
    min-height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signup-form {
    background: #ffffff;
    max-width: 512px;
    margin: 0px auto 28px auto;
    padding: 62.12px 99px 48px;
    width: 314px;
    box-shadow: 0px 4px 24px rgb(0 0 0 / 10%);
    border-radius: 2px;
    text-align: left;
}

.signup-form-header {
    text-align: center;
    color: #aaaaaa;
}

.signup-header-logo {
    margin-bottom: 19px;
}

.signup-logo {
    height: 100px;
}

.signup-form-tagline {
    color: #333333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 44px;
}

p {
    margin: 0;
}

.signup-form-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user-form-fields {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-form-email,
.signup-form-password {
    outline: 2px solid #e6e6e6;
    border-radius: 5px;
}

.signup-form-email:focus-within,
.signup-form-password:focus-within {
    outline: 2px solid #96c0ec;
}

.signup-form-email input,
.signup-form-password input {
    background-color: transparent;
    border-color: transparent;
    color: #000;
    font-size: 18px;
    padding-inline-start: 10px;
    width: 300px;
    height: 30px;
}

label {
    color: #000;
}

.signup-submit-buttons {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.signup-submit-buttons button {
    background: #4488d1;
    border: transparent;
    border-radius: 5px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    color: #e6e6e6;
    visibility: visible;
    transition: background .2s ease-in-out;
}

.signup-submit-buttons button:hover {
    background: #2f6196;
}

.signup-submit-buttons-disabled button {
    visibility: hidden;
}

.signup-submit-buttons {
    visibility: visible;
    transition: visibility 3s ease-in;
}

.signup-submit-buttons-disabled {
    visibility: hidden;
    transition: visibility 3s ease-in;
}

.login-account {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    font-size: 16px;
}

.login-account a {
    text-decoration: none;
    color: #4488d1;
    cursor: pointer;
}


.error-messages {
    color: red;
    font-size: 12px;
    font-style: italic;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* media query */
@media screen and (min-width: 51.75em) {
    p {
        line-height: 1.41666667;
    }
}